#cloud-config
datasource_list: [NoCloud, ConfigDrive]

preserve_hostname: false
create_hostname_file: true

timezone: {{ timezone }}

system_info:
  default_user:
    gecos: cloud-init default

package_update: true
package_upgrade: true
package_reboot_if_required: true

growpart:
  mode: auto
  devices:
    - /dev/sda2
    - /dev/sda5

runcmd:
  - date > /etc/birth_certificate
  - pvresize /dev/sda5
  - lvextend -l +100%FREE /dev/debian-vg/root
  - resize2fs /dev/debian-vg/root

final_message: "Cloud-init complete. Rebooting..."
power_state:
  mode: reboot
  message: Rebooting after cloud-init to finalize hostname/FQDN
  timeout: 30
  condition: True
